h1 {
    text-align: center;
    margin-bottom: 24px;
}

.job-offer {
    padding: 0 12px;
    margin-bottom: 24px;
}

li img {
    height: 22px;
}

.company-name {
    font-size: 18px;
    font-weight: bold;
}

.post-date {
    font-style: italic;
}

.job-offer i {
    cursor: pointer;
    font-size: 20px;
    color: grey;
    transition: color .3s;
}

.job-offer i:hover {
    color: yellow;
}

i.starred {
    color: yellow;
    font-weight: bold;
}

.job-spec {
    font-weight: bold;
}

.apply {
    margin-top: 12px;
}