h1 {
    text-align: center;
    margin-bottom: 24px;
}

.job-offer-column {
    padding: 0;
}

.job-offer {
    background-color: #f1f1f1;
    padding: 12px;
    margin-bottom: 12px;
    list-style: none;
    border-radius: 12px;
}

.starred {
    background-color: #ffff99;
}

.applied {
    background-color: #c0ffc0;
}

li img {
    height: 22px;
}

.company-name {
    font-size: 18px;
    font-weight: bold;
}

.post-date {
    font-style: italic;
}

.job-offer i {
    cursor: pointer;
    font-size: 20px;
    color: grey;
    transition: color .3s;
}

.job-offer i:hover {
    color: orange;
}

.starred i {
    color: orange;
    font-weight: bold;
}

.job-spec {
    font-weight: bold;
}

.apply-container {
    margin-top: 12px;
}

.applied-badge {
    width: 147.65px;
    height: 38px;
    background-color: #198754;
    font-size: 16px;
    font-weight: 700;
    color: white;
    text-align: center;
    line-height: 38px;
    border-radius: .25rem;
}

.modal {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #f1f1f1;
    border: none;
    width: 300px;
    height: 150px;
    border-radius: 12px;
    line-height: 150px;
    text-align: center;
    font-size: 22px;
    color: #198754;
    font-weight: bold;
}