<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">  
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Job Search</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h1>JOB POSITIONS</h1>
                    <ul>
                        <li class="job-offer" v-for="(job, index) in jobs">
                            <div class="d-flex">
                                <div>
                                    <img :src="job.logo" alt="company logo">
                                    <span><span class="company-name">Company name: {{job.company}}</span> - <span class="post-date">Announcement posted on {{job.created_at}}</span>
                                </div>

                                <i class="far fa-star align-self-center" :class="starredJobs(job.id)" @click="addToStarred(job.id)"></i>
                            </div>
                            <ul>
                                <li><span class="job-spec">Position available:</span> {{job.position}} - {{job.contract}}</li>
                                <li><span class="job-spec">Job description:</span> {{job.description}}</li>
                                <li><span class="job-spec">Location:</span> {{job.city}}</li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="col-4">
                    <h1>STARRED</h1>
                    <ul>
                        <li class="job-offer" v-for="job in jobs">
                            <div class="d-flex">
                                <div>
                                    <img :src="job.logo" alt="company logo">
                                    <span><span class="company-name">Company name: {{job.company}}</span> - <span class="post-date">Announcement
                                            posted on {{job.created_at}}</span>
                                </div>
                            
                                <i class="far fa-star align-self-center" :class="starredJobs()"></i>
                            </div>
                            <ul>
                                <li><span class="job-spec">Position available:</span> {{job.position}} - {{job.contract}}</li>
                                <li><span class="job-spec">Job description:</span> {{job.description}}</li>
                                <li><span class="job-spec">Location:</span> {{job.city}}</li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="col-4">
                    <h1>APPLIED</h1>
                    <ul>
                        <li class="job-offer" v-for="job in jobs">
                            <div class="d-flex">
                                <div>
                                    <img :src="job.logo" alt="company logo">
                                    <span><span class="company-name">Company name: {{job.company}}</span> - <span class="post-date">Announcement
                                            posted on {{job.created_at}}</span>
                                </div>
                            
                                <i class="far fa-star align-self-center" :class="starredJobs()"></i>
                            </div>
                            <ul>
                                <li><span class="job-spec">Position available:</span> {{job.position}} - {{job.contract}}</li>
                                <li><span class="job-spec">Job description:</span> {{job.description}}</li>
                                <li><span class="job-spec">Location:</span> {{job.city}}</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <script src="./js/script.js"></script>
</body>
</html>